


.carousel-inner{
    position : relative;
    height : 700px !important;
    filter : grayscale(90%);
}

.carousel-inner img{
    top : -100px;
}

.carousel-caption{
    position : absolute;
    top : 400px;
}

.carousel-caption h3{
    font-size : 80px;
    color : black;
}

.carousel-caption p{
    font-size : 30px;
    color : black;
}


footer{
    padding : 20px;
    background : rgb(68, 67, 67);
    color : rgb(197, 196, 196);
}

#myCarousel{
    margin-top : 50px !important
}

.container h2{
    margin-top : 150px !important;
    text-align : center;
}

.navbar {
    background : gray;
    opacity : 0.6;
}

.navbar a{
    color : white !important;
}

@media screen and (max-width:767px){
    .carousel-caption h3{
        font-size : 25px;
    }
}

@media screen and (max-width:767px){
    .carousel-caption p{
        font-size : 15px;
    }
}