*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}




ol, ul{
    list-style: none;
    text-decoration : none;
}

a{
    list-style : none;
    text-decoration-line : none;
}

/*---------------- NAV  -------------------------*/
.navbar{
    background-color : white;
    border-bottom : none;
    z-index : 10px;
    border-bottom : none;
}

.navbar a{
    font-weight : bold;
    color : #425968 !important;
}

.navbar-brand{
    position : absolute;
    top : -10px;
}
 


/*---------------- MAIN IMAGE -------------------*/
#main{
    width : 100%;
    height : 1000px;
    background : linear-gradient(180deg, white 0%, white 59px, rgba(255, 255, 255, 0) 100%);
    background-image : url(../img/main.png);
    mask-image: linear-gradient(black, transparent);
    
}


#main h1{
    text-align : center;
    font-size : 61px;
    padding-top : 150px;
    font-weight : bolder;
    line-height : 100px;

}


#main ul{
    padding-top : 65px;
    text-align : center;
}

#main ul img{
    width : 24px;
    height : 24px;
}

#main ul li{
    display : inline-block;
    width : 150px;
    height : 40px;
    background-color : rgba(12, 12, 12, 0.8);
    border-radius : 10px;
    padding-top : 8px;
    transition : all 0.5s;
}

#main ul li:nth-child(3){
    display : inline-block;
    width : 100px;
    height : 40px;
    background-color : rgba(6, 85, 255, 0.8);
    border-radius : 20px;
    padding-top : 10px;
    transition : all 0.5s;
    display : none;
}

#main ul li a{
    text-decoration-line : none;
    font-weight : bold;
    color : white;
}

#main ul li:hover{
    background-color : rgba(87, 87, 87, 0.8);
}



/*---------------- 캐치프라이즈  ------------------*/
#catch{
    background : #F9FAFB;
    width : 100%;
    height : 600px;
    padding : 250px;
}


#catch h2{
    text-align : center;    
    color : black;
    font-size : 30px;
    font-weight : bold;
    line-height : 50px;
    letter-spacing : -2px;
}

#catch h2:nth-child(2){
    display : none;
}







/*----------------홈 소비-------------------------*/

#home{
    height : 1300px;
}



#box1, #box4{
    position: relative;
    height : 300px !important;
}

#box2, #box3{
    position : relative;
    height : 936px !important;
}

#box2{
    left : -50px;
}


#pic01{
    position : absolute;
    width : 57%;
    top : 11%;
    left : 22%;
}

#pic02{
    position : absolute;
    width : 100%;
    height : 100%;
    top : 0;
    left : 0;
}

#home h2{
    color : #3182F6;
    font-weight : bold;
}

#box1 h3{
    font-weight : bold;
    font-size : 35px;
    line-height : 70px;
    color : black;
    
}

#box3 {
    top : -700px;
    left : -70px;
}

#box4 h3{
    font-weight : bold;
    font-size : 25px;
    line-height : 35px;

}

/*----------------송금-------------------------*/
#send{
    position : relative;
    width : 100%;
    height : 2000px;
    background-color : #F9FAFB;
    padding : 0 !important;
    margin-top : 100px;
    
}

#send2{
    position : absolute;
    width : 100%;
    height : 100%;
}

#send .col-sm-12{
    width : 100%;
    height : auto;
}


.pic03{
    width : 100%;
    height : 100%;
    position : absolute;
    left : -100px;
}



#box6 .col-sm-6{
    height : 384px;
    margin-top : 100px;
    left : 50px;
}

#box7 .col-sm-6{
    height : 384px;
    left : 100px;
}

#box7{
    position : relative;
    margin-top : 50px;
}


#box8 .col-sm-6{
    height : 384px;
}

#box8{
    position :relative;
    margin-top : 100px;
    left : -70px;
}




#send h3{
    color : #3182F6;
    font-weight : bold;
}


#send h2{
    font-weight : bold;
    font-size : 35px;
    line-height : 70px;
    color : black;
    
}

#send span{
    color : #3182F6;
}



#send .txt1{
    font-size : 30px;
    font-weight : bold;
}

#send .txt2{
    font-size : 20px;
    font-weight : bold;
    color : rgb(161, 161, 161);
}

#txt3{
    position : absolute;
    padding-top : 50px;
    margin-left : 500px;
}



/*-------------------BESPOKE----------------------*/



#bespoke{
    position : relative;
    margin-bottom : 200px;
    left : 50px;
}


#bespoke .col-sm-8{
    height : 838px;
}

#bespoke h1{
    font-size : 35px;
    font-weight : 900;
}


.pic04{
    width : 80%;
    height : 100%;
    position : absolute;
    top : 0;
    left : 0;
}

.pic05{
    position : absolute;
    width : 70%;
    height : 280%;
    left : -130px;
}

#bespoke .pic05txt{
    position : absolute;
    top : 600px;
    left : -120px;
    font-weight : bold;
}

#bespoketxt{
    position : absolute;
    top : 950px;
    padding-left : 15px;
}

#bespoketxt h2{
    line-height: 45px;
}






/*-------------------business----------------------*/
#business{
    background : black;
}

.pic06{
    width : 100%;
}

#business .btn{
    background : #3182F6;
    color : white;
    font-weight : bold;
    transition : all 0.5s;
}


#business{
    padding-top : 50px;
    padding-bottom : 50px;

}

#business2{
    text-align : center;
}

#business2 h1{
    color : white;
    font-weight: bold;
    font-size : 50px;
}

#business2 h2{
    color : rgb(184, 183, 183);
    font-weight: bold;
    font-size : 25px;
    line-height: 40px;
    letter-spacing : -3px;
    margin-bottom : 150px;
}

#business3 div h2{
    color : white;
    font-size : 25px;
    font-weight: bold;
}

#business3 div h3{
    color : rgb(184, 183, 183);
    font-size : 15px;
    font-weight: bolder;
    line-height : 27px;
}

#business3 .btn:hover{
    background : rgb(37, 98, 231);
}




/*-------------------footer----------------------*/

footer {
    background-color : #191F28;
    font-size : 13px;
    line-height : 30px;
    padding-top : 30px;
}


footer{
    color : white;
}

footer li{
    line-height: 25px;
}

footer li a{
    color : #636D7E;
}

footer li a:hover{
    color : #636D7E;
}

#ft2 h4{
    color : white;
    font-size : 13px;
}

#ft2{
    padding-top : 50px;
    font-size : 13px;
    color : #636D7E;
    line-height : 17px;
    line-height: 20px;
}

#icon{
    padding-top : 25px;
    transition : all 0.5s;
}

#icon a:hover{
    filter : brightness(150%)
}


/*---------------- 모바일 버전---------------------------*/

@media screen and (max-width:767px) {
    
    
/* 메인 이미지 -------------------*/
    
    #main{
        background-position : center;
    }

    #main h1{
        font-size : 35px;
        line-height : 40px;
    }

    #main ul li{
        display : none;
    }

    #main ul li:nth-child(3){
        display : inline-block;
    }

/*캐치프레이즈------------------*/

    #catch{
        padding :140px 0;
    }

    #catch h2{
        display : none;
    }

    #catch h2:nth-child(2){
        display : block;
        text-align :center;
        font-size : 20px;
        line-height : 30px;
    }

/*홈.소비-----------------------*/

    #box3{
        display : none;
    }


    #box2{
        top : -100px;
    }

    #box2 #pic02{
        height : 730px;
    }

    #box4{
        width: 350px;
        height : 50px;
        top : -360px;
        display : block;
    }

    #box4 h3{
        font-size : 15px;
        line-height : 25px;
        font-weight : bolder !important;
    }


/*송금--------------------------*/

    #send{
        top : -200px;
        background-color: rgb(240, 240, 240);;
    }

    #send2 h3{
        font-size : 15px;
    }

    #send h2{
        font-size : 25px;
        line-height : 35px;
    }


    #box6 .txt1{
        font-size : 20px;
    }

    #box6 .txt2{
        font-size : 15px;
        color : rgb(70, 70, 70);
    }

    #box6 .pic03{
        width : 400px;
        height : auto;
        top : -350px;
        margin-left : 70px;
        
    }

    #txt3{
        left : -300px;
    }

  





}